.container{
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
/* ===== LOGO ===== */
.Logo{ 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
/* ===== SECTION ===== */
.section{
    padding-bottom: 94px;
}
/* ===== COLORS ===== */
:root{
    --primary-text-color: #757575;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-hero-bg-color: #2f303a;
    --titel-link-color: #212121;
    --secondary-link-color: #757575;
    --accent-color: #2196f3;
    --logo-up-color: #000000;
    --logo-down-color: #ffffff;
    --address-color: #ffffff;
    --address-secondary-color: rgba(255, 255, 255, 0.6);
}
/* ===== NAVIGATION ===== */
.header-titles{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--titel-link-color);
}
.header-titles:hover{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px; 
    letter-spacing: 0.02em;
    padding-left: 40px;
}
/* ===== HERO SECTION ===== */
.main-page-section{
    height: 600px;
    width: 100%;
    justify-content: center;
    background-color: var(--footer-hero-bg-color);
    justify-content: space-between;
    align-items: center;
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--address-color);
    align-content: center;
    padding-top: 150px;
}
.main-page-button{
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--accent-color);   
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--address-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}
.article-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titel-link-color);
}
.article-style{
    list-style: none;
    margin-left: auto;
}
.article-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    width: 270px;
    height: 72px;
    display: flex;
}
.second-header{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titel-link-color);
    margin-bottom: 75px;
}
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titel-link-color);
    background: var(--secondary-bg-color);
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-top: 75px;
}
.name{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titel-link-color);
}
.profession{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
.site-footer{
    background: var(--footer-hero-bg-color);
    text-align: justify;
}
.footer-img{
    margin-top: 30px;
    margin-right: 50px;
}
.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--logo-down-color);
    font-style: normal;
}
.footer-links{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--address-secondary-color);
}
.li-footer{
    color: var(--footer-hero-bg-color);
}
.header-othres-malto{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-left: 100px;
}
.header-othres-malto:hover{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding-left: 140px;
    color: var(--accent-color);
    padding-left: 100px;
}
.header-othres-tel{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-left: 40px;
}
.header-othres-tel:hover{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding-left: 40px;
}
.header-othres{
    color: var(--logo-down-color);
}
.third-article-imgs{
    background: var(--secondary-bg-color);
    margin-top: -60px;
    padding-bottom: 75px;
}
.div-images{
    background: var(--logo-down-color);
    color: var(--secondary-bg-color);
}
.div-images-0{
    color: var(--secondary-bg-color);
}
.header-text-lies{
    color: var(--logo-down-color);
}
.site-footer-text{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
}
.article-title{
    margin-bottom: 10px;
}
.article-style{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px;
}
.main-page-header{
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee;
}
.header-titles{
    padding-left: 40px;
}
.div-img-and-text{
    display: flex;
    box-sizing: border-box;
}
.third-article-imgs{
    display: flex;
    box-sizing: border-box;
    padding-top: 100px;
}
.div-images{
    background: var(--address-color);
    margin-left: 30px;
}
.flexer{
    background: var(--secondary-bg-color);
    color: var(--secondary-bg-color);
}
.div-images-0{
    background: var(--address-color);
}
.about-us-section-text{
    padding-left: 15px;
    color: var(--secondary-bg-color);
    text-align: left;
}
.address{
    text-decoration: none;
}
.footer-social-media-links-imgs{
    padding-left: 15px;
}
.footer-social-media-links-imgs-0{
    padding-left: 0px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titel-link-color);
    padding-top: 75px;
}
.client-imgs{
    padding-left: 20px;
    padding-bottom: 85px;
    padding-top: 30px;
}
.client-imgs-0{
    padding-bottom: 85px;
    padding-top: 30px;
}
.footer-article-a-links{
    flex-direction: row;
    box-sizing: border-box;
}
.site-footer{
    justify-content: space-around;
}
.site-navigation{
    display: flex;
}
.Lies-imgs{
    display: flex;
    list-style: none;
}
.what-we-do-img-1{
    padding-left: 20px;
}
.lies-style{
    list-style: none;
    display: flex;
}
.Web{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.Studio{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--logo-up-color); 
    text-decoration: none;
}
.Logo{
    text-decoration: none;
    padding-left: 100px;
    padding-top: 8px;
}
.main-page-header{
    text-align: center;
}
.Studio-footer{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color); 
    text-decoration: none;
}
.Web-footer{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.address{
    padding-left: 60px;
}
.third-article-imgs{
    list-style: none;
}
.blue{
    color: var(--accent-color);
}
.griding{
    display: grid;
    display: flex;
}

