.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header-titles{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-titles:hover{
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px; 
    letter-spacing: 0.02em;
    padding-left: 40px;
}
.main-page-section{
    height: 600px;
    width: 1600px;
    justify-content: center;
    background-image: url('file:///c%3A/Users/%D0%90%D1%80%D0%B8%D1%88%D0%B0/Desktop/Html%20project/img/%D0%A8%D0%B0%D0%BF%D0%BA%D0%B0%20%282%29.png');
    margin-left: 150px;
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    align-content: center;
    padding-top: 150px;
}
.main-page-button{
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;   
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    margin-left: 675px;
    margin-bottom: 700px;
}
.article-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.article-style{
    list-style: none;
}
.article-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    height: 72px;
    display: flex;
}
.second-header{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 75px;
}
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    background: #F5F4FA;
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-top: 75px;
}
.name{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.profession{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}
.site-footer{
    background: #2F303A;
}
.footer-img{
    margin-top: 30px;
    margin-right: 50px;
}
.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}
.footer-links{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.li-footer{
    color: #2F303A;
}
.header-othres-malto{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding-left: 140px;
    color: #757575;
    padding-left: 100px;
}
.header-othres-malto:hover{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding-left: 140px;
    color: #2196F3;
    padding-left: 100px;
}
.header-othres-tel{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    padding-left: 40px;
}
.header-othres-tel:hover{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-left: 40px;
}
.header-othres{
    color: white;
}
.third-article-imgs{
    background: #F5F4FA;
    margin-top: -60px;
    padding-bottom: 75px;
}
.div-images{
    background: #fff;
    color: #F5F4FA;
}
.div-images-0{
    color: #F5F4FA;
}
.header-text-lies{
    color: #fff;
}
.what-we-do-img{
    margin-left: 350px;
}
.site-footer-text{
    margin-left: 85px;
}
.article-title{
    margin-bottom: 10px;
}
.article-style{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    margin-left: 370px;
    margin-top: 50px;
}
.main-page-header{
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 375px;
}
.header-titles{
    padding-left: 40px;
}
.div-img-and-text{
    display: flex;
    box-sizing: border-box;
}
.third-article-imgs{
    display: flex;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: px;
}
.div-images{
    background: #FFF;
    margin-left: 30px;
}
.flexer{
    background: #F5F4FA;
    color: #F5F4FA;
}
.div-images-0{
    background: #FFF;
    margin-left: 322px;
}
.about-us-section-text{
    padding-left: 15px;
    color: #F5F4FA;
    justify-content: center;
    align-content: center;
}
.footer-social-media-links{
    display: flex;
}
.address{
    text-decoration: none;
}
.footer-social-media-links-imgs{
    padding-left: 15px;
}
.footer-social-media-links-imgs-0{
    padding-left: 0px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding-top: 75px;
}
.client-imgs{
    padding-left: 20px;
    padding-bottom: 85px;
    padding-top: 30px;
}
.client-imgs-0{
    padding-left: 380px;
    padding-bottom: 85px;
    padding-top: 30px;
}
.footer-article-a-links{
    flex-direction: row;
    box-sizing: border-box;
}
.site-footer{
    justify-content: space-around;
}
.site-navigation{
    display: flex;
}
.article-2{
    margin-bottom: 100px;
}
.WebLogoPng{
    margin-left: 135px;
}
.Lies-imgs{
    display: flex;
    list-style: none;
}
.what-we-do-img-1{
    padding-left: 20px;
}
.lies-style{
    list-style: none;
    display: flex;
}
.Web{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}
.Studio{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #222222; 
    text-decoration: none;
}
.Logo{
    text-decoration: none;
    padding-left: 100px;
    padding-top: 8px;
}
.main-page-header{
    text-align: center;
}
.Studio-footer{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    text-decoration: none;
}
.Web-footer{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}
.address{
    padding-left: 60px;
}
.third-article-imgs{
    list-style: none;
}